<div class="archive">
<%
  let lastYear = 0;
  page.posts.sort('date', -1).each(function (post) {
    const currentYear = date(post.date, 'YYYY');
    if (currentYear !== lastYear) {
%>
      <h2><%= currentYear %></h2>
<%
      lastYear = currentYear;
    }
%>
  <div class="timenode">
    <a class="meta" href="<%- url_for(post.path) %>">
      <time><%= date(post.date, "MM-DD") %></time> <%= post.title %>
    </a>
  </div>
<%
  });
%>
</div>

<!-- <%- partial('_partial/paginator') %> -->

<%- css('css/archive.css') %>