<!DOCTYPE html>
<html>
<meta charset="utf-8" />
  <!-- 标签页 -->
  <%- partial('_partial/label') %>

  <body>  
    <!-- 配置引用 -->
    <%- partial('_partial/global') %>
    <div class="site-container">
      <!-- 导航栏 -->
      <%- partial('_partial/header') %>

      <!-- 路由 根据页面类型决定渲染内容 -->
      <%- partial('router') %>

      <!-- 页脚 -->
      <%- partial('_partial/footer') %>

      <%- partial('_partial/search') %>
    </div>
    <%- js('js/background.js') %>
  </body>

</html>